BackgroundService/BackgroundService.Android/obj/
BackgroundService/BackgroundService/obj/
BackgroundService/BackgroundService/bin/
BackgroundService/BackgroundService.iOS/obj/
BackgroundService/BackgroundService.Android/bin/
